<%= form_for(@product) do |f| %>
  <div class="form_group"
    <%= f.label :code %>
    <%= f.text_field :code, class: 'form-control' %>
  </div>

  <div class="field form_group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control'  %>
  </div>

  <div class="field form_group">
    <%= f.label :features %>
    <%= f.text_area :features, class: 'form-control'  %>
  </div>

  <div class="field form_group">
    <label class="btn btn-primary">
      Upload a main image file <%= f.file_field :main_image, style: 'display:none' %>
  </div>

  <div class="field form-group">
    <%= f.label :category_id %> (has to be a number for category_id)
    <%= f.text_area :category_id, class: 'form-control'  %>
  </div>
  <div class="field form-group">
    <%= f.fields_for :badges do |badge_form| %>
      <div class="field form_group">
        <%= badge_form.label :title %>
        <%= badge_form.text_field :title %>
      </div>
    <% end %>
  </div>

  <div class="actions form-group">
    <%= f.submit %>
  </div>
<% end %>
