<p id="notice"><%= notice %></p>

<h1>New Product</h1>
<%= form_for(@product) do |f| %>
  <div class="field"
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :features %>
    <%= f.text_area :features %>
  </div>
  
  <div class="field">
    <%= f.label :main_image %>
    <%= f.text_area :main_image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
